body {
  font-family: "Sen", sans-serif;
  font-style: normal;
  background-color: #000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding: 24px 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.logo-link {
}
.logo-img {
}
.menu-open-btn {
  background-color: #000;
  border: none;
  padding: 0;
}
.menu-open-icon {
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 48px;
  border: 0.1px;
  border-bottom: 2px dashed #5b6876;
}

.hero-img {
  margin-bottom: 48px;
}
.hero-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.hero-span {
  color: rgba(255, 255, 255, 0.5);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

/*EXPERIENCE  */

.experience {
  padding: 48px 0;
}

.exp-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5b6876;
  margin-bottom: 8px;
}
.exp-subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
}
.exp-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.exp-item {
}
.exp-icon {
  fill: #8491a0;
}
.exp-speciality {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.span-google {
  color: #3cc74e;
}
.exp-text {
  font-weight: 400;
  line-height: 1.5;
  color: #5b6876;
}
.span-fb {
  color: #609bff;
}
.span-drib {
  color: #e95d90;
}

/* PHILOSOFY */

.philosophy {
  padding: 48px 0;
  background-color: #fff3e4;
}

.phil-title {
  font-weight: 700;
  font-size: 32px;
  color: #181823;
  margin-bottom: 24px;
}
.phil-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #5b6876;
  margin-bottom: 90px;
}
.phil-link {
  font-weight: 400;
  line-height: 1.5;
  color: #181823;
  border-bottom: 1px solid #5b6876;
  max-width: 116px;
  height: 0px;
}

.phil-bg-image {
  max-width: 360px;
  margin: 0 auto;
}

/* SKILL */

.skill {
  padding-top: 78px;
}

.skill-container {
  padding-left: 0;
  padding-right: 0;
}

.skill-wrap {
  padding-left: 20px;
  padding-right: 20px;
}

.skill-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 48px;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.skill-list:last-child {
  /* margin-bottom: 64px; */
}
.skill-item:last-child {
  margin-bottom: 64px;
}
.skill-icon {
  fill: #5221e6;
  margin-bottom: 24px;
}

.skill-subtitle {
  margin-bottom: 12px;
}
.skill-text {
  font-weight: 400;

  line-height: 1.5;
  color: #8491a0;
}
.skill-comp-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.skill-comp-item {
}
.skill-comp-btn {
  border: 0.5px solid #8491a0;
  border-left: none;
  width: 180px;
  height: 140px;
  background-color: #000;
}
.skill-comp-icon {
  fill: #8491a0;
}

/* WORK */

.work {
  padding-top: 64px;
  padding-bottom: 70px;
}

.work-title {
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  color: #8491a0;
}
.work-subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 80px;
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.work-item {
}
.work-img {
}

.work-wrap {
  padding: 40px 32px;
  background-color: #181823;
}
.work-dsc {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 13px;
}
.work-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
}

/* INSTAGRAM */

.instagram {
  padding: 48px 0;
  background-color: #fbe4ff;
}

.insta-title {
  font-weight: 700;
  font-size: 32px;
  color: #181823;
  margin-bottom: 16px;
}
.insta-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #5b6876;
  margin-bottom: 125px;
}

.insta-link {
  font-weight: 400;
  line-height: 1.5;
  color: #181823;
  font-weight: 400;
  line-height: 1.5;
  color: #181823;
  border-bottom: 1px solid #5b6876;
  max-width: 116px;
  height: 0px;
}

.insta-bg-img {
  max-width: 360px;
  margin: 0 auto;
}

/* DRIBBBLE */

.dribbble {
  padding: 64px 0;
}

.drib-title {
  font-weight: 700;
  font-size: 55px;
  margin-bottom: 24px;
}
.drib-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 40px;
}
.drib-link {
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: 1px solid #5b6876;
  max-width: 116px;
  height: 0px;
}
.drib-bg-img {
  padding-bottom: 64px;
}
.drib-btn {
  border-radius: 8px 8px 0 0;
  min-width: 320px;
  height: 36px;
  background-color: #181823;
  display: flex;
  justify-content: start;
  border: none;
  padding: 0;
}
.drib-btn-icon {
  fill: #5b6876;
  padding-bottom: 12px;
  padding-left: 16px;
  height: 48px;
}
.drib-img {
}

/* REVIEWS */

.reviews {
  padding: 48px 0;
}

.review-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.review-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 40px;
}
.review-link {
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  border-bottom: 1px solid #5b6876;
  max-width: 116px;
  height: 0px;
  margin-bottom: 64px;
}
.review-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.review-item:first-child {
  margin-top: 64px;
}

.review-item {
  /* margin-bottom: 48px; */
}
.review-img {
}
.review-wrap {
  padding: 32px;
  border: 1px solid #5b6876;
}
.review-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 64px;
}
.review-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 4px;
}
.review-company {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
}

/* PHOTOGRAPHY */

.photography {
  padding: 48px 0;
}

.photo-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 24px;
}
.photo-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  padding-bottom: 40px;
}
.photo-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 40px;
}
.photo-btn-item {
}
.photo-btn {
  border: 1px solid #5221e6;
  padding: 12px 16px;
  width: 148px;
  height: 51px;
  background-color: transparent;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
}
.photo-btn-item:first-child {
  background-color: #5221e6;
}

.photo-img-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.photo-img-item {
  /* margin-bottom: 24px; */
}
.photo-img {
}

/* STARTED */

.started {
  padding: 48px 0;
}
.started-title {
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 16px;
}
.started-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  padding-bottom: 48px;
}
.started-form {
}
.started-label {
  display: block;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 8px;
}
.started-input {
  width: 100%;
  height: 50px;
  background-color: #181823;
  border: none;
}

.form-field {
  display: block;
  margin-bottom: 40px;
}

.form-textarea-field {
  margin-bottom: 40px;
}

.started-textarea {
  background-color: #181823;
  width: 320px;
  height: 100px;
  border: none;
}

.started-btn {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  padding: 24px 32px;
  min-width: 320px;
  height: 75px;
  background-color: #5221e6;
  border: none;
}

/* FOOTER */

.footer {
  padding: 48px 0;
  background-color: #181823;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 32px;
}
.soc-list {
  display: flex;
  gap: 16px;
  margin-bottom: 48px;
}
.soc-item {
}
.soc-item:nth-child(even) {
  fill: #e94b88;
}

.footer-nav {
}
.ftr-nav-list {
}
.ftr-nav-item {
  margin-bottom: 24px;
}

.ftr-nav-item:last-child {
  margin-bottom: 48px;
}

.ftr-nav-link {
  font-weight: 400;
  line-height: 1.5;
}
.copyright {
  font-weight: 400;

  line-height: 1.5;
  color: #8491a0;
}
