body {
  font-family: "Sen", sans-serif;
  font-style: normal;
  background-color: #000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding: 24px 0;
}
.logo-link {
}
.logo-img {
}
.menu-open-btn {
}
.menu-open-icon {
}

/* HERO */

.hero {
  padding-top: ;
  padding-bottom: ;
}

/*  */

/*  */

/*  */
