body {
  font-family: "Sen", sans-serif;
  font-style: normal;
  background-color: #000;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 360px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.title {
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

button {
  cursor: pointer;
}

/* HEADER */

.header {
  padding: 24px 20px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.logo-link {
}
.logo-img {
}
.menu-open-btn {
  background-color: #000;
  border: none;
  padding: 0;
}
.menu-open-icon {
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 48px;
  border: 0.1px;
  border-bottom: 2px dashed #5b6876;
}

.hero-img {
  margin-bottom: 48px;
}
.hero-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.hero-span {
  color: rgba(255, 255, 255, 0.5);
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

/*EXPERIENCE  */

.experience {
  padding: 48px 0;
}

.exp-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #5b6876;
  margin-bottom: 8px;
}
.exp-subtitle {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 40px;
}
.exp-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.exp-item {
}
.exp-icon {
  fill: #8491a0;
}
.exp-speciality {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.span-google {
  color: #3cc74e;
}
.exp-text {
  font-weight: 400;
  line-height: 1.5;
  color: #5b6876;
}
.span-fb {
  color: #609bff;
}
.span-drib {
  color: #e95d90;
}

/* PHILOSOFY */

.phil-wrap {
  /* display: flex;
  flex-direction: column; */
}

.phil-container {
  padding-left: 0;
  padding-right: 0;
}
.philosophy {
  padding-top: 48px;
  background-color: #fff3e4;
}
.phil-title-wrap {
  padding-left: 20px;
  padding-right: 20px;
  /* margin-bottom: auto; */
}
.phil-title {
  font-weight: 700;
  font-size: 32px;
  color: #181823;
  margin-bottom: 24px;
}
.phil-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #5b6876;
  margin-bottom: 90px;
}
.phil-link {
  font-weight: 400;
  line-height: 1.5;
  color: #181823;
  border-bottom: 1px solid #5b6876;
  max-width: 116px;
  height: 0px;
  margin-bottom: 48px;
  margin-left: 20px;
  margin-right: 20px;
}

.phil-img {
  margin-top: 40px;
}

/* SKILL */

.skill {
  padding-top: 78px;
}

.skill-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
}
.title-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #8491a0;
  margin-bottom: 48px;
}
.skill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}
.skill-item {
}
.skill-icon {
  fill: #5221e6;
}
.skill-subtitle {
}
.skill-text {
}
.skill-img-list {
}
.skill-img-item {
}
.skill-img {
}
